<div class="text-center">
  <h1>Who are we and why does is matter?</h1>
  <div class="row">
    <div>
      <img class="img-fluid" src="/assets/images/about/UniversityOfMiami.jpg" alt="A University of Miami Welcome Sign is at the focus. In the background Palm Trees line a road" title="University Of Miami">
    </div>
  </div>
  <div class="history-section">
    <h2>How did we meet?</h2>
    <h3>Causa Latet Vis Est Notissima</h3>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        It was Eddie's Sophomore Year and Kaleigh's Freshman year. 
        Eddie was (and is) a brother of Alpha Sigma Phi. 
        He met Nicolas Rongione early in the first semester, and thinking that Nicolas 
        is a fantastic guy and would make an excellent brother, 
        he invited him to recruitment events. He was recruited, but wasn't interested in 
        pledging after starting the process.
        Although Nicolas decided not to pursue the opportunity, they remained friends.</div>
    </div>
    <h3>Fast Forward to summer...</h3>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        Nicolas found out that the fraternity forgot to take him off the pledge list (whoops) 
        and his account was about to be sent to collections. Simple misunderstanding, but 
        it was not a completely effortless process to fix. Alpha Sig helped him resolve it,
        but Kaleigh, one of his best friends only heard about the "frat guy" who made his 
        life difficult.
      </div>
    </div>
    <h3>The next school year</h3>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        Eddie met Kaleigh and she was (reasonably) cold to him. He didn't like that and the 
        two didn't get along. Fate intercepted and put her science classes
        by the Fraternity Suites. They decided to start talking at the rocking tables by the 
        Panhellenic building and founded an unexpected friendship.
      </div>
      <img src="/assets/images/about/PanhellenicBuilding.jpg" 
      alt="Mary B. Merritt Panhellenic Building Side View with large Tree background" 
      class="img-fluid" title="Panhellenic Building" 
      caption="This is where it all began...">
    </div>
    <h3>They survived the first awkward dates</h3>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        After they went to Wynwood First Saturday art show, Eddie decided to ask 
        Kaleigh out on a date weekend. They went to Sunset Place one night with friends,
        saw a movie and then went to the Beaux Arts Festival another day, and it was wonderful! 
        After about a month they decided to make it official on February 9th, which is to 
        this day their dating anniversary.
      </div>
    </div>
    <h3>Eddie's Internship in Israel</h3>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        Between Eddie's Junior and Senior year he went to Israel for an internship.
        The long distance was difficult, especially after dating for such a short time.
        They managed to get through this "with their faces to the wind" and their next year
        they were stronger than ever! Eddie graduated and Kaleigh had a year left in school.
        As he was deciding his life path, he got a job that sent him off to Idaho!
      </div>
    </div>
    <h3>Deciding to weather the storm again...</h3>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        After their first time long-distance, they came back to develop such
        a wonderful relationship. Were they ready for more long-distance? They put 
        together some pretty solid plans. Eddie would ship off to Boise, ID and start his career
        in Software. He would take a little time to live in new places while Kaleigh 
        finished her degree. Then they would meet up in a place with good opportunities
        in Software and Medicine.
      </div>
      <div class="col-sm-offset-3 col-sm-6">
        Plans don't always go accordingly however, and Kaleigh got sick, while 
        Eddie found he had chosen the wrong path, as an implementation consultant.
        He came back to Miami, FL after Kaleigh had already gone back to Grafton, WI to
        recover with her family and try to finish her last courses.
      </div>
      <div class="col-sm-offset-3 col-sm-6">
        With Student loans creeping in for both of them, and without the proper
        experience in their respective fields, Eddie found a position in West Palm Beach, FL
        while Kaleigh started a retail position in Grafton. 
      </div>
    </div>
    <h3>One Fateful new years...</h3>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        While Eddie was visiting Grafton in New Years 2016, Kaleigh came up with an
        idea. She was thinking of coming back down to Miami to finish her degree.
        But could it be done? Could she put loans back on hold to finish her studies?
        Would it be better to be in the academic environment to finally finish? 
        Where would she stay? It was a risky move, but she only had one shot, 
        and one semester left to finish. They decided it was a fantastic idea, and
        she would stay in Eddie's childhood bedroom!
      </div>
      <div class="col-sm-offset-3 col-sm-6">
        It was a wonderful change for both of them. Both of their parents were 
        very supportive and instrumental in making this idea succeed! Kaleigh
        received the academic support she needed by being back at University of Miami
        and they were able to visit each other more frequently since they were only 
        an hour and a half drive from each other! Kaleigh proudly walked down in her 
        cap and gown to officially receive her diploma at the end of the semester,
        and sadly that meant she had to go back to Grafton while she looked for work.
        Eddie was still learning, and growing, and making sure he was ready to be able
        to find a new job while she considered her Grad School and Immediate career options.
      </div>
    </div>
    <h3>She found her opportunity</h3>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        Since they didn't know where would be best to end up next, they both
        waited patiently and stuck together until she finally found an opportunity
        at the Medical College of Wisconsin. Just as Eddie found out his first pick
        wasn't quite what he was looking for, Kaleigh knew she needed a different lab. 
        It wasn't until April of 2017, almost a year later when Eddie and Kaleigh 
        finally decided it was time for Eddie to come to Milwaukee. He interviewed
        over 2 weeks of working remotely and found a position up here doing what he 
        loved, while she found a lab with studies she knew she would love!
      </div>
    </div>
    <h3>June 1, 2017 -- Move-in day!</h3>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6"></div>
    </div>
    <h3></h3>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6"></div>
    </div>
    <h3></h3>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6"></div>
    </div>
    <h3></h3>
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6"></div>
    </div>
  </div>
</div>