<!--<div [ngClass]="{'bottom-space' : photos}">-->

  <div class="row bottom-space">
    <div *ngIf="showRoutes">
    <div *ngFor="let route of approvedRoutes">
      <div class="col-xs-2">
        <a class="btn btn-primary btn-block" [routerLink]="['/photos', route]">{{(route[0].toUpperCase() + route.substr(1))}}</a>
      </div>
    </div>
  </div>
  <div *ngIf="!showRoutes" class="col-sm-4 col-sm-offset-4">
    <button class="btn btn-primary btn-block" (click)="toggleImageRouteVisibility()">Show Routes</button>
  </div>
  </div>
<div *ngIf="photos">
  <div *ngFor="let photoGroup of (getPhotosInGroupsOfThree())">
    <div class="row bottom-space">
      <div *ngFor="let photo of (photoGroup)">
        <div class="col-sm-4">
          <img [src]="photo" class="img-responsive">
        </div>
    </div>
  </div>
  </div>

</div>
